@media print {
  body * {
    visibility: hidden;
  }
  #printable,
  #printable * {
    visibility: visible;
  }
  #printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

   #hidethis {
    display: none;
  }
  /*.printhide {
    display: none !important;
  }

  .printclass {
    display: table-cell !important;
  } */

  .updateprint {
    visibility: visible !important;
    display: block !important;
    color: black !important; 
  } 

}
  .updateprint {
    visibility: hidden !important;
    display: block !important;
    color: black !important; 
  } 